:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104, 0.8);
    }

    h1{
        border: 5px solid black;
        width: 600px;
        margin: 60px auto;
       text-align: center;
       font-family: Arial, Helvetica, sans-serif;
       
   }
   
.col-11 {
    width: 96%;
    text-align: center;
    margin: 30px auto;
  }
  .col-10 {
    width: 96%;
    text-align: center;
    margin: 30px auto;
  }
  .col-9{
  width: 96%;
  text-align: center;  
  margin:  auto;
  padding: auto;
  font-weight: bold;
  }
  .col-8{
    width: 96%;
  text-align: center;  
  margin:  auto;
  padding: auto;
  font-weight: bold;
  }
  .col-7{
    width: 96%;
    text-align: center;
    margin: 30px auto;
    color: #860038;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  .col-5{
    width: 96%;
    text-align: center;
    margin: 30px auto;
  }
  .col-7 ul{
    list-style-type: none;
   
  
  }
   .numberPlates{
  background: yellow;
   border: black solid;
   border-radius: 5px;
   justify-content: center ;
   display: inline;
   list-style: none;
   padding: 1em;
   margin: 6px;

  }
  button {
    border-radius: 5px;
    justify-content: center ;
    display: inline;
    margin: center;
    padding: auto;

  }
